
<link rel="stylesheet" href="/css/sign.css">

<div class="login-box">
    <h2>Add Employee</h2>
    <form method="POST" action="/users/addEmployee" class="form">
      <div class="user-box">
        <input type="Name" name="name" placeholder="Enter name" required>
      </div>
      <div class="user-box">
        <input type="email" name="email" placeholder="Enter email" required>
      </div>

      <div class="user-box">
        <input type="password" name="password" placeholder="Enter password" required>
      </div>

      <div class="user-box">
        <input type="password" name="confirmPassword" placeholder="Confirm password" required>
      </div>
      <button style="background-color: #243b55;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        ADD
      </button>
    </form>
    
  </div> 